django
djangorestframework
coverage
mock
flake8
tox
codecov
recommonmark
django-model-utils
haikunator
djangorestframework-xml
django-filter
eparsecis
epcpyyes
quartet_capture
# Additional test requirements go here
python-dateutil
gs123
six
