django
djangorestframework
coverage==4.4.1
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0
codecov>=2.0.0
recommonmark
django-model-utils
haikunator
django-model-utils
djangorestframework-xml
django-filter
eparsecis
epcpyyes
quartet_capture
# Additional test requirements go here
